{% extends 'base.html' %}

{% block body %}
<div class="report">
  <h2 class="title">Let's get your name pikachufied</h2>
  <p class = "small">P.S. This is like min KYC you need to survive on planet Earth. <br/>Yes to all
  those niger and bitches who are thinking if this is somehow similar to AADHAR card.</p>
  <form  action = "/results" method = "post">
    <input type = "text" name = "user_name" placeholder = "Name">
    <input type = "submit" value = "Go" name = "button">
  </form>
</div>


{% endblock %}
